section.about
	.about__left
		h2.title.title_with-line
			span.title__text_accent.title__text_font-garden О нас
			span.title__text Мы лучший традиционный ресторан
		p.about__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Сих, она, все. Там большой текст парадигматическая! Своего над рыбными, заглавных? Он ты на берегу, однажды. Предложения власти до собрал! Себя!
		p.about__text  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Сих, она, все. Там большой текст парадигматическая! Своего над рыбными, заглавных? Он ты на берегу, однажды. Предложения власти до собрал! Себя!
		.about__chef.chef
			img.chef__photo(src="/images/chef.jpg")
			img.chef__sign(src="/images/chef-sign.png")
			.chef__soc
				span.chef__name Сергей Варенцов
				include ../components/social
	.about__right
		img.about__img(src="/images/about1.jpg")
		img.about__img(src="/images/about2.jpg")