article.blog__item
	img.blog__img(src="/images/rice.jpg")
	h3.blog__title Специальное меню с азиатской кухней
	.blog__info
		span.blog__time
			i.material-icons.blog__icon access_time
			span Опубликовано 05/10/2017, 17:00
		span.blog__address
			i.material-icons.blog__icon location_on
			span Москва, Лермонтова 72/2
	p.blog__text #{" Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Великий свое всеми своего последний языкового. Оксмокс знаках, раз парадигматическая это своих встретил. Свою, своего точках составитель журчит свое оксмокс.".slice(0, 300)}...
	a.blog__link Подробнее