section.booking.section_bg(style="background-image: url(/images/booking-bg.jpg)")
	h2.title
		span.title__text.title__text_accent.title__text_font-garden Забронируйте ваш стол
		span.title___text.title__text_white Заполните форму
	include ../components/reservation-form