footer.footer
	.footer__top
		section.footer__about
			h4.footer__title О нас
			p.footer__text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.
			include ../components/social
		section.footer__navigation
			h4.footer__title Быстрые ссылки
			nav.footer-navigation
				ul.footer-navigation__list
					li.footer-navigation__item: a.footer-navigation__link(href="/index.html") Главная
					li.footer-navigation__item: a.footer-navigation__link(href="/menu.html") Меню
					li.footer-navigation__item: a.footer-navigation__link(href="/blog.html") Блог
					li.footer-navigation__item: a.footer-navigation__link(href="/contacts.html") Контакты
		section.footer__working-time
			h4.footer__title Время работы
			table
				tr
					td Понедельник - Пятница
					td 09:00 - 22:00
				tr
					td Суббота - Воскресенье
					td 10:00 - 20:00
				tr
					td Праздники
					td 10:00 - 18:00
		section.footer__menu
			h4.footer__title Категории меню
			ul.menu-categories
				li.menu-categories__item: a.menu-categories__link(href="/menu/appetizers") Закуски
				li.menu-categories__item: a.menu-categories__link(href="/menu/breakfast") Завтрак
				li.menu-categories__item: a.menu-categories__link(href="/menu/lunch") Обед
				li.menu-categories__item: a.menu-categories__link(href="/menu/dinner") Ужин
				li.menu-categories__item: a.menu-categories__link(href="/menu/meat") Мясо / Рыба
				li.menu-categories__item: a.menu-categories__link(href="/menu/soup") Супы
	.footer__copyrights © Copyrights 2017 - Все права защищены