section.news
	include ../mixins/_title
	+title('Наши последние новости', 'Блог')
	//h2.title
		span.title__text_accent.title__text_font-garden Наши последние новости
		span.title__text Блог
		img.title__img(src="/images/surprize-chef.png")
	.news__items
		.news__item
			img.news__img(src="/images/pasta.jpg")
			h3.news__title Высший класс ресторанного обслуживания для вашего здоровья
			.news__info
				span.news__time
					i.material-icons access_time
					span Опубликовано 05/10/2017, 17:00
				span.news__address
					i.material-icons location_on
					span Москва, Лермонтова 72/2
			p.news__text #{" Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Великий свое всеми своего последний языкового. Оксмокс знаках, раз парадигматическая это своих встретил. Свою, своего точках составитель журчит свое оксмокс.".slice(0, 100)}...
			a.news__link Подробнее
		.news__item
			img.news__img(src="/images/rice.jpg")
			h3.news__title Специальное меню с азиатской кухней
			.news__info
				span.news__time
					i.material-icons access_time
					span Опубликовано 05/10/2017, 17:00
				span.news__address
					i.material-icons location_on
					span Москва, Лермонтова 72/2
			p.news__text #{" Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Великий свое всеми своего последний языкового. Оксмокс знаках, раз парадигматическая это своих встретил. Свою, своего точках составитель журчит свое оксмокс.".slice(0, 100)}...
			a.news__link Подробнее