if topProducts
	.shop-top
		h4.side-title Популярные продукты
		ul.side-list
			each product in topProducts
				li.side-list__item: a.side-list__link(href=`/shop/${product.ID}`)
					img.side-list__img(src=`/uploads/${product.Photo}`)
					span.side-list__name= product.Name
					span.side-list__price $ #{product.Price}