if menuTypes
	.shop-categories
		h4.shop-categories__title.side-title Категории продуктов
		ul.shop-categories__list
			each type in Object.keys(menuTypes)
				li.shop-categories__item
					a.shop-categories__link(href=`/shop/pages/1/${menuTypes[type][0].TypeID}`)= type
					if menuTypes[type].length
						ul.shop-categories__list.shop-categories__subitems
							each category in menuTypes[type]
								li.shop-categories__item: a.shop-categories__link(href=`/shop/pages/1/${category.TypeID}/${category.ID}`)= category.Category