.surprize.section_bg(style="background-image: url(/images/surprise-bg.jpg)")
	h2.surprize__title Сюрприз на твоей тарелке
	img.surprize__img(src="/images/surprize-chef.png")
	img.surprize__img(src="/images/surprize-icon.png")