.comments
	margin-bottom: 50px
	&__title
		text-transform: uppercase
		margin-bottom: 15px
		opacity: .8
		font-size: 15px
	&__item
		display: flex
		margin-bottom: 20px
	&__img
		margin-right: 10px
	&__text
		font-size: 14px
		opacity: .7