.popup.categories-popup
	.popup__content
		h4.categories-popup__title Редактор категорий
		.form-group
			i.material-icons lightbulb_outline
			input.input#newCategory(type="text" placeholder="Новая категория")
		button.btn.btn_small#add-category.btn_center Добавить
		span.btn_hide-popup