form.comments-form
	h3.comments-form__title Оставьте комментарий
	textarea.comments-form__field.comments-form__field_1.textarea(placeholder="Ваш комментарий")
	input.comments-form__field.comments-form__field_2.input#name(type="text" name="name" placeholder="Ваше имя")
	input.comments-form__field.comments-form__field_2.input#email(type="text" name="email" placeholder="Ваш Email")
	input.comments-form__field.comments-form__field_1.input#website(type="text" name="website" placeholder="Ваш вебсайт")
	button.btn.btn_center.btn_transparent.btn_small Отправить