.counter
	input.counter__input#count.js-number(type="text",name="count",value=(count ? count : 1 ) title="Колличество")
	.counter__buttons
		button#inc(type="button") +
		button#dec(type="button") -