nav.navigation
	ul.navigation__list
		li.navigation__item: a.navigation__link(href="/index.html") Главная
		li.navigation__item: a.navigation__link(href="/menu.html") Меню
		li.navigation__item: a.navigation__link(href="/about.html") О нас
		li.navigation__item: a.navigation__link(href="/blog.html") Блог
		li.navigation__item: a.navigation__link(href="/gallery.html") Галлерея
		li.navigation__item: a.navigation__link(href="/reservation.html") Бронирование
		li.navigation__item: a.navigation__link(href="/shop.html") Магазин
		li.navigation__item: a.navigation__link(href="/contacts.html") Контакты