.price-range
	h4.price-range__title.side-title Фильтр по цене
	.price-range__range
		span.price-range__control#first-control
		span.price-range__control#last-control
	.price-range__bottom-line
		button.btn.btn_small Применить
		.price-range__prices
			span.price-range__prices-title Цена:
			span.price-range__price#min-price.money-with-before 14
			span.price-range__price#max-price.money-with-before 35
