.sort
	span.sort__title Сортировка:
	- const sortList = [{'name': 'По умолчанию', 'data': 'ID'},{'name': 'По цене', 'data': 'Price'},{'name': 'По популярности', 'data': 'Rating'}]
	span.sort__current.dropdown__text(data-sort=sort) По умолчанию 
	ul.sort__dropdown.dropdown.js-dropdown
		each item in sortList
			li.dropdown__item.js-sort-item(data-sort=item.data)= item.name