article.special.section_bg(style="background-image: url(/images/offer-box.jpg)")
	h5.special__title Специальное предложение сегодня
	.special__money
		span.special__dollar $
		span.special__price 10
		span.special__price_old 15
	button.btn(type="button") Заказать сейчас