extends layout

include mixins/_breadcrumbs

block content
	main
		+breadcrumbs('О нас', { "name": "Главная", "href": "/" }, { "name": "О нас", "href": "/about" })
		include partials/about
		include partials/counters
		include partials/team
		include partials/quotes