extends layout

include mixins/_breadcrumbs

block content
	main.blog
		+breadcrumbs('Блог', { "name": "Главная", "href": "/" }, { "name": "Блог", "href": "/blog" })
		.blog__inner
			.blog__articles#catalog-holder
				include partials/articlesList
			include partials/blog-side


