extends layout

block content
	main.home
		include partials/about
		include partials/surprize
		include partials/services
		include partials/counters
		include partials/menu-section
		include partials/booking
		include partials/events
		include partials/quotes
		include partials/news
		include partials/subscribe
		

