doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		block styles
			if name
				link(rel="stylesheet", href=`/dist/css/${name}.css`)
		title Max
	body
		include partials/header
		block content
		include partials/footer
		block scripts
			if name
				if (['account', 'checkout', 'admin', 'contacts' ].includes(name))
					script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
				if (['index', 'menu', 'about', 'reservation', 'gallery', 'contacts'].includes(name))
					script(src='/dist/js/common.js')
				else if (['blog', 'article', 'shop', 'product', 'cart', 'checkout', 'account'].includes(name))
					script(src='/dist/js/common2.js')
				script(src=`/dist/js/${name}.js`)