extends layout

include mixins/_title
include mixins/_breadcrumbs
include mixins/_menu

block content
	main.menu
		+breadcrumbs('Меню', { "name": "Главная", "href": "/" }, { "name": "Меню", "href": "/menu" })
		if dishCategories 
		each category, value in Object.keys(dishCategories)
			section.menu__section
				+title(dishCategories[category][0].ShortDescription, category)
				+menu(dishCategories[category])
		include partials/booking