extends layout

include mixins/_breadcrumbs
include mixins/_title

block content
	main
		+breadcrumbs('Бронирование', { "name": "Главная", "href": "/" }, { "name": "Бронирование", "href": "/reservation" })
		section.reservation(style="background-image: url(/images/reservation.png)")
			+title('Выберите ваш стол', 'Бронирование')
			include components/reservation-form
		include partials/subscribe
		include partials/services