extends layout

include mixins/_breadcrumbs

block content
	main
		+breadcrumbs('Магазин', { "name": "Главная", "href": "/" }, { "name": "Магазин", "href": "/shop" })
		section.shop
			.shop__catalog.catalog
				h2.shop__title Магазин
				include components/sort
				.shop__products#catalog-holder
					include partials/productsList
			aside.shop__side
				include partials/shop-categories
				include components/price-range
				include partials/shop-top
				include partials/side-cart					