include ../mixins/_toggle-items
.events-editor
	form.events-editor__form.form(method="POST" action="/event/edit")
		.form-group
			i.material-icons bubble_chart
			input.input#eventName(type="text" name="eventName" placeholder="Название события" value=(event ? event.Name : ''))
		.form-group
			i.material-icons event
			input.input#subject(type="text" name="subject" placeholder="Тема события" value=(event ? event.Subject : ''))
		.form-group
			i.material-icons add_a_photo
			label.label_file 
				span Фото
				input.input_file#photo(type="file" name="photo" placeholder="Фото" data-value=(event ? event.Photo : ''))
		.form-group
			i.material-icons access_time
			input.input#time(type="text" name="time" placeholder="Время проведения")
		.form-group.form-group_1
			i.material-icons location_on
			input.input#location(type="text" name="location" placeholder="Адрес проведения" value=(event ? event.Address : ''))
		.form-group.form-group_1
			textarea.textarea#desc(name="desc" placeholder="Описание")=(event ? event.Description : '')
		+toggleItems('categories', 'Категория')
		if event
			button.btn.btn_small Сохранить
			button.btn.btn_small(type="button" data-action=`/events/${event.ID}`)#remove Удалить
		else
			button.btn.btn_small.btn_center Сохранить