include ../mixins/_toggle-items
.menu-editor
	form.menu-editor__form.form(method="POST" action="/menu/edit")
		.form-group.form-group_1
			i.material-icons restaurant_menu
			input.input#name(type="text" name="name" placeholder="Название блюда")
		.form-group.form-group_1
			i.material-icons.update-icon#show-category-popup autorenew
			select.select#category(name="category" placeholder="Категория")
				option.option Завтрак
				option.option Обед
				option.option Ужин
		.form-group
			i.material-icons attach_money
			input.input#price.js-number(type="text" name="price" placeholder="Цена")
		.form-group
			i.material-icons add_a_photo
			label.label_file 
				span Фото
				input.input_file#photo(type="file" name="photo" placeholder="Фото")
		.form-group
			i.material-icons settings_overscan
			input.input#size.js-number(type="text" name="size" placeholder="Размер порции (грамм)")
		.form-group
			i.material-icons all_inclusive
			input.input#calories.js-number(type="text" name="calories" placeholder="Каллории (на 100 грамм)")
		+toggleItems('ingridient', 'Ингридиент')
		button.btn.btn_small.btn_center Сохранить
include ../components/categories-popup