.shop-editor
	form.shop-editor__form.form(method="POST" action=`/product/${productModel ? `${productModel.ID}/edit` : 'add'}`)
		.form-group.form-group_1
			i.material-icons bubble_chart
			input.input#productName(type="text" name="productName" placeholder="Название товара" value=(productModel ? productModel.Name : ''))
		.form-group.form-group_1
			i.material-icons opacity
			input.input#type(name="type" placeholder="Тип" value=(productModel ? productModel.Type : ''))
		.form-group.form-group_1
			i.material-icons style
			input.input#category(name="category" placeholder="Категория" value=(productModel ? productModel.Category : ''))
		.form-group.form-group_1
			i.material-icons attach_money
			input.input#price.js-number(type="text" name="price" placeholder="Цена" value=(productModel ? productModel.Price : ''))
		.form-group.form-group_1
			textarea.textarea#desc(name="desc" placeholder="Описание" value=(productModel ? productModel.Description : ''))
		if productModel
			button.btn.btn_small Сохранить
			button.btn.btn_small#show-products-popup(type="button") Добавить разновидности
			button.btn.btn_small#remove(type="button" data-action=`/shop/model/${productModel.ID}`) Удалить
		else
			button.btn.btn_small.btn_center Сохранить
include ../components/products-popup