mixin toggleItems(inputID, placeholder)
	.toggle-items
		i.material-icons.toggle-items__icon add_circle_outline
		input.toggle-items__input.input(type="text", id=inputID, name=inputID, placeholder=`${placeholder} (Нажмите Enter для добавления)`)
		.toggle-items__holder